.heroContainer{
    /* background: url('./img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.heroContents{
    width: 100%;
    max-width: 120rem;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #24262F;
}
.heroCenterContents{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-content: center;
    z-index: 999;
    padding: 13rem;
}
.heroCenterContents h1{
    font-size: 10rem;
    font-weight: bold;
    position: relative;
}
.myName{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem ;
}
.arrow {
    width: 1.6rem;
    position: absolute;
    top: 2rem;
    left: 0;
    transition: all 0.3s ease;
  }
  .firstNameContainer{
    position: relative;
  }
  .arrow img{
    vertical-align: top;
  }
  .lastNameContainer{
    position: relative;
  }

.copyright{
    font-size: 3rem;
    font-weight: lighter;
    color: var(--primary-color);
    opacity: 0.5;
    position: absolute;
    right: -2rem;
    top: 2.2rem;
}
.heroCenterContents .first{
    opacity: 0;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: -4%;
}

.heroCenterContents .third{
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: -4%;
}
.heroCenterContents .third span{
    font-size: 3rem;
    font-weight: 400;
}
.heroCenterContents .btnContainer{
    display: flex;
    gap: 1.8rem;
    justify-content: center;
    align-items: center;
}
.btnContainer button{
    padding: 1rem 3rem;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 0.8rem;
    margin-top: 2.2rem;
    overflow: hidden;
}
.myworks{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
    position: relative;
    z-index: 1;
}
.resume{
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
    position: relative;
    z-index: 1;
}
.heroCenterContents .btnContainer .myworks::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--hover-color);
    z-index: -1;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}
.heroCenterContents .btnContainer .resume::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: -1;
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}
.heroCenterContents .btnContainer .myworks:hover::before, .heroCenterContents .btnContainer .resume:hover::before{
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scale(1);
}
.resume:hover{
    border: 1px solid var(--secondary-color);
    color: white;
}
.heroSectionBottom{
    width: 100%;
    max-width: 120rem;
    position: relative;
    flex: 1;
    padding: 4rem 4rem;
    position: relative;
}
.based{
    position: absolute;
    bottom: 2rem;
    opacity: 0.6;

}
.based h4{
    font-size: 1.4rem;
    font-weight: 400;
}
.based p{
    font-size: 1.2rem;
}
.scrollContainer {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    bottom: 1.6rem;
    right: 1rem;
  }

  .scrollContainer img{
    height: 12rem;
    width: 5px;
  }
  .scroll {
    writing-mode: vertical-rl;     /* Make text vertical */
    text-orientation: upright;     /* Keep letters upright */
    font-size: 1rem;
   color: var(--secondary-color);
   opacity: 0.7;
  }
/* responsive
 @media (max-width: 1160px) {
    .heroCenterContents h1{
        font-size: 8rem;
    }
    .heroCenterContents .first{
        font-size: 3rem;
    }
    .heroCenterContents .third{
        font-size: 2.8rem;
    }
    .heroCenterContents .third span{
        font-size: 3.6rem;
    }

}

 @media (max-width: 992px) {
    .heroCenterContents h1{
        font-size: 7rem;
    }
    .heroCenterContents .first{
        font-size: 2.8rem;
    }
    .heroCenterContents .third{
        font-size: 2.5rem;
    }
    .heroCenterContents .third span{
        font-size: 3.2rem;
    }
    .btnContainer button{
        padding: 1.5rem 4rem;
        font-size: 2rem;
    }
    .copyright{
        font-size: 2.8rem;
        right: -2rem;
        top: 2rem;
    }
    .arrow {
        top: 2.2rem;
        left: -1rem;
    }
    .based h4{
        font-size: 1.3rem;
    }
    .based p{
        font-size: 1rem;
    }
    .scrollContainer img{
        height: 8rem;
        width: 4px;
    }
    .scroll {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 0.8rem;
    }
}

/* Tablets (portrait) */
@media (max-width: 768px) {
    .heroCenterContents h1{
        font-size: 6.6rem;
    }
    .heroCenterContents .first{
        font-size: 2.4rem;
    }
    .heroCenterContents .third{
        font-size: 2.2rem;
    }
    .heroCenterContents .third span{
        font-size: 2.8rem;
    }
    .heroCenterContents .btnContainer{
        gap: 1.6rem;
    }
    .btnContainer button{
        padding: 1.5rem 2.8rem;
        font-size: 1.6rem;
        margin-top: 0;
    }
    .copyright{
        font-size: 2rem;
        right: -1.5rem;
        top: 1.8rem;
    }
    .arrow {
        top: 1.6rem;
        left: -1rem;
    }
    .heroSectionBottom{
        margin-bottom: 5rem;
        border: 1px solid red;
    }
    .heroSectionBottom .based .basedHead{
        font-size: 1.6rem;
        font-weight: 500;
    }
    .based p{
        font-size: 0.8rem;
    }
    .scrollContainer img{
        height: 6rem;
        width: 3px;
    }
    .scroll {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 0.6rem;
    }
}

/* Small devices (phones) */
@media (max-width: 576px) {
    .heroCenterContents h1{
        font-size: 4rem;
    }
    .heroCenterContents .first{
        font-size: 2rem;
    }
    .heroCenterContents .third{
        font-size: 1.8rem;
    }
    .heroCenterContents .third span{
        font-size: 2.2rem;
    }
    .btnContainer button{
        padding: 1.5rem 2.8rem;
        font-size: 1.6rem;
        margin-top: 0;
    }
    .lastNameContainer .copyright{
        font-size: 1.2rem;
        font-weight: lighter;
        right: -1.4rem;
        top: 0.5rem;

    }
    .arrow {
        top: 1rem;
        width: 0.8rem;
        left: -0.6rem;
    }
    .btnContainer{
        gap: 0.1rem;
    }
    .btnContainer button{
        padding: 1.3rem 2.8rem;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .copyright{
        font-size: 2rem;
        right: -1.5rem;
        top: 1.6rem;
    }
    .arrow {
        top: 1.6rem;
        left: -1rem;
    }
    .heroSectionBottom{
        margin-bottom: 5rem;
    }
    .based h4{
        font-size: 0.9rem;
    }
    .based p{
        font-size: 0.6rem;
    }
    .scrollContainer img{
        height: 4.2rem;
        width: 2px;
    }
    .scroll {
        font-size: 0.4rem;
    }

}

/* Extra small (very old/small phones or tight layouts) */
@media (max-width: 400px) {
   .heroCenterContents h1{
        font-size: 3.6rem;
    }
    .heroCenterContents .first{
        font-size: 1.8rem;
    }
    .heroCenterContents .third{
        font-size: 1.6rem;
    }
    .heroCenterContents .third span{
        font-size: 2rem;
    }
    .btnContainer button{
        padding: 1.5rem 2.6rem;
        font-size: 1.1rem;
    }
    .copyright{
        font-size: 0.7rem;
        /* border: 1px solid red; */
        right: -1rem;
        top: 0.5rem;
    }
    .arrow {
        top: 1rem;
        width: 0.8rem;
        left: -0.6rem;
    }
    .heroCenterContents .btnContainer{
      gap: 1rem;
      margin-top: 2rem;
    }
    .copyright{
        font-size: 2rem;
        right: -1.5rem;
        top: 1.6rem;
    }
    .arrow {
        top: 1.6rem;
        left: -1rem;
    }
    .heroSectionBottom{
        margin-bottom: 5rem;
    }
    .based h4{
        font-size: 0.9rem;
    }
    .based p{
        font-size: 0.6rem;
    }
    .scrollContainer img{
        height: 4.2rem;
        width: 2px;
    }
    .scroll {
        font-size: 0.4rem;
    }
}
