.aboutMainContainer{
    color: #2E292F;
    padding: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.aboutContents{
    width: 120rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.aboutContents h2{
    font-size: 4rem;
}
.aboutContents h2 span{
    color: var(--primary-color);
}
.contensContainer{
    display: flex;
    gap: 10rem;
}
.left{
    /* max-width: 694px; */
    border: none;

}
.left p{
    line-height: 30px;
    font-size: 1.6rem;
    font-weight: 400;
}
.right{
    padding-right: 4rem;
    position: relative;
}
.profile{
    z-index: 999;
    width: 30rem;
    height: 35.7rem;
}
.circles{
    position: absolute;
    top: -1rem;
    right: 2.2rem;
}
.whiteArrow{
    position: absolute;
    left: -1px;
    top: 40%;
    /* border: 1px solid red; */
    transform: translateY(-50%);
}
.box{
    position: absolute;
    bottom: -1rem;
    right: 2.2rem;
    z-index: -1;
}
