.contentsContainer{
    margin-left: 6rem;
}
.contentsWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.contentsContainer ul li{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.contentsContainer ul li p{
    font-size: 1.6rem;
    font-weight: 400;
}
.descriptionContainer{
    margin-bottom: 3rem;
}
.description{
    font-size: 1.8rem;
    font-weight: 600;
}
.contentsContainer p{
    font-weight: 1.2rem;
}
.view{
    padding-left: 2rem;
    cursor: pointer;
    font-size: 1.6rem;
    background-color: var(--seconday-color);
    border: none;
    font-weight: 600;
}
.bottomStick {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
.view:hover{
    color: var(--primary-color);
}
.contentsContainer ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.par{
    font-style: 1.6rem;
}
